<%= javascript_include_tag 'https://res.wx.qq.com/open/js/jweixin-1.0.0.js' %>

<div style="width:100%;display:flex;align-items:center;flex-direction:column;justify-content:center;">
  <button style="height:100px;width:360px;margin-top:100px;font-size:36px;" onclick="config()"> airkiss </button>

  <p style="margin-top:20px;" class="error1"></p>
  <p class="error2"></p>
</div>

<script>
    wx.config({
        debug: false,
        beta : true,
        appId: '<%= @wechat_app_id %>',
        timestamp: '<%= @timestamp %>',
        nonceStr: '<%= @uuid %>',
        signature: '<%= @signature %>',
        jsApiList: ["configWXDeviceWiFi"]
    });
    wx.error(function (res) {
      $('.error1').html(res);
    });
    var config = function () {
        wx.checkJsApi({
            jsApiList: ['configWXDeviceWiFi'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
            success: function (res) {
                wx.invoke('configWXDeviceWiFi', {}, function (res) {
                    if (res.err_msg == 'configWXDeviceWiFi:ok') {
                        wx.closeWindow();
                    } else {
                        alert('配置失败！请重试' + res.err_msg);
                    }
                });
            }
        });
    }
</script>